/*
    Colour Palette
    - Dark Mint: #487671 - rgb(72, 118, 113)
    - Mint: #46a69c - rgb(70, 166, 156)
    - Light Mint: #a3d9d3 - rgb(163, 217, 211)
    - Dark Grey: #303030 rgb(48, 48, 48) 
    - Light Greyblue - #f2feff - rgb(255, 250, 242)
    – White – #fff – rgb(255, 255, 255)
*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #303030;
    padding: 1rem;
}

footer ul {
    text-align: right;
}

footer li {
    display: inline-block;
    margin: 1rem;
}

footer p {
    color: #fff;
    text-align: right;
}

footer img {
    width: 5%;
}