/*
    Colour Palette
    - Dark Mint: #487671 - rgb(72, 118, 113)
    - Mint: #46a69c - rgb(70, 166, 156)
    - Light Mint: #a3d9d3 - rgb(163, 217, 211)
    - Dark Grey: #303030 rgb(48, 48, 48) 
    - Light Greyblue - #f2feff - rgb(255, 250, 242)
    – White – #fff – rgb(255, 255, 255)
*/

header {
    background-color: #a3d9d3;
    position: relative;
    width: 100%;
}

nav ul li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin: 2rem;
}

nav a {
    color: #303030;
}

nav a,
nav a:link,
nav a:visited{
    list-style: none;
    border: 0;
}

header img {
    width: 12rem;
}

.current {
    background-color: rgb(72, 118, 113);
}

.banner {
    background: #a3d9d3 url("../images/blacktea.jpg") no-repeat center center;
    background-size: cover;
    text-align: left;
    padding: 5rem 1rem 1rem;
}

.banner h2 {
    color: #fff;
}
