# Accessibility Testing Report

User testing was conducted by {Jared Lebel} on {Mar.31, 2014} between the times of {5:00pm} and {end time} with the following participants:

- {Daniela Chavez}
- {Evan Grice}
- {Hasan Yavuz}
- {Mark Collantes}
- {Alex Martin}
- {Stephen Pollock}

## Tasks

1. Go to product decaffeinated product page
2. Select a Camomile Tea from decaf area
3. Add to cart and check out

---

### Individual Results & Observations

#### Voice Reader

### {Daniela Chavez}

- She completed the task as expected.

### {Evan Grice}

- He completed the task as expected.


### {Hasan Yavuz}

- They completed the task as expected.

#### Keyboard

### {Mark Collantes}

- Completed most tasks without issue. Images do not show selector rectangle and selector rectangle could be more contrasted.

### {Alex Martin}

- Completed tasks as expected.
- Slightly hard to see categories (caffeinated, uncaffeinated).

### {Stephen Pollock}

- They completed the task as expected.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Make visited state more visible.}

### Serious, Causes Frustration, May Hinder Completion

- {Make visited state more visible.}


### Minor, Annoying, Won’t Hinder Completion

- {Make visited state more visible.}
- {make the images show selector rectangle.}