# Accessibility Testing Report

User testing was conducted by {Jared Lebel} on {Mar.31, 2014} between the times of {5:00pm} and {end time} with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. Go to product decaffeinated product page
2. Select a Camomile Tea from decaf area
3. Add to cart and check out

---

### Individual Results & Observations

#### Voice Reader

### {Daniela Chavez}

- She completed the task as expected.

### {Evan Grice}

- He completed the task as expected.


### {Hasan Yavuz}

- They completed the task as expected.

#### Keyboard

### {Mark Collantes}

- Completed most tasks without issue. Images do not show selector rectangle and selector rectangle could be more contrasted.

### {Alex Martin}

- Completed tasks as expected.
- Slightly hard to see categories (caffeinated, uncaffeinated).

### {Stephen Pollock}

- They completed the task as expected.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.