---
layout: default
title: Shopping Cart
showbanner: yes
bannertext: Shopping Cart
meta: Organically grown fair trade tea.
---

<main role="main">
    <div class="grid pad-t push">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
             {% include remove-cart.html prodtitle="Decaf Earl Grey" desc="Our amazing ealr tea is decaffeinated so you can enjoy the flavour without keeping you up. On sale till next week!" price="$9.99" image="images/earlgrey.svg" %}
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
            {% include remove-cart.html prodtitle="Mango White Tea" desc="Mango white tea is super delicious and half off for the next week!" price="$9.99" image="images/teacupbrandmint.svg" %}
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
            {% include remove-cart.html prodtitle="Green Tea" desc="12 pack of Green tea!" price="$9.99" image="images/greentea.svg" %}
        </div>
    </div>
    
    <a class="margin-gutter btn tera" href="{{site.baseurl}}/thank-you/">Checkout!</a>
</main>