---
layout: default
title: Home
showbanner: yes
bannertext: Welcome!
---

<div class="grid">
    <div class="unit unit-s-1 unit-m-1 unit-l-1">
        {% include promo-large.html prodtitle="Sale on Green Tea" desc="this is a description" %}
    </div>
</div>

<div class="grid">
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
         {% include promo-small.html prodtitle="Promo 1" desc="Sale on Earl Grey" price="$9.99" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html prodtitle="Promo 2" desc="Sale on Mango White Tea" price="$9.99" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html prodtitle="Promo 3" desc="Sale on Lemon Grass" price="$9.99" %}
    </div>
</div>