---
layout: default
title: Home
showbanner: yes
bannertext: Welcome!
meta: Organically grown fair trade tea.
---

<main role="main">
    <div class="grid pad-t push">
        <div class="gutter unit unit-s-1 unit-m-1 unit-l-2">
            {% include promo-large.html prodtitle="Sale on Green Tea" desc="Jump on this amazing sale!" image="images/greentea.svg" %}
        </div>
    </div>
    
    <hr>
    
    <div class="grid pad-t push">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
             {% include promo-small.html prodtitle="Sale on Earl Grey" desc="Earl Grey half off for the next week!" price="$9.99" image="images/earlgrey.svg" %}
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
            {% include promo-small.html prodtitle="Sale on Mango White Tea" desc="Mango white tea half off for the next week!" price="$9.99" image="images/teacupbrandmint.svg" %}
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
            {% include promo-small.html prodtitle="Sale on Lemon Grass Tea" desc="Lemon Grass half off for the next week!" price="$9.99" image="images/lemongrass.svg" %}
        </div>
    </div>
</main>