---
layout: default
title: Search
showbanner: yes
bannertext: Search results
meta: Organically grown fair trade tea.
---

<div class="grid pad-t push">
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
         {% include promo-small.html prodtitle="Decaf Earl Grey" desc="Our amazing ealr tea is decaffeinated so you can enjoy the flavour without keeping you up. On sale till next week!" price="$9.99" image="images/earlgrey.svg" prodlink="/teas/decafearlgrey/" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
        {% include promo-small.html prodtitle="Mango White Tea" desc="Mango white tea is super delicious and half off for the next week!" price="$9.99" image="images/teacupbrandmint.svg" prodlink="/teas/whitetea/" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
        {% include promo-small.html prodtitle="Green Tea" desc="Green tea has so many health benefits but don't take our word for it. Half off till next week!" price="$9.99" image="images/greentea.svg" prodlink="/teas/greentea/" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
        {% include promo-small.html prodtitle="Decaf Green Tea" desc="Same health benefits you love without the kick!" price="$16.99" image="images/decafgreentea.svg" prodlink="/teas/decagreengrey/" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
        {% include promo-small.html prodtitle="Decaf Chai Tea" desc="If you love flavour in the evening this Chai blend is for you!" price="$16.99" image="images/decafchai.svg" prodlink="/teas/decafchaigrey/" %}
    </div>
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 gutter">
        {% include promo-small.html prodtitle="Camomile" desc="The perfect thing for your night time reading." price="$16.99" image="images/camomile.svg" %}
    </div>
</div>