# User Testing Report

User testing was conducted by {Jared Lebel} on {Monday, March 24, 2014} between the times of {4:15pm} and {$:40pm} with the following participants:

- {Mark Collantes}
- {Chelsey Frohlick}
- {Hasan Yavuz}

## Tasks

1. {Locate Green Tea in the site}
2. {Locate product details Green Tea of choice}
3. {Add to basket and check out}

---

## Individual Results & Observations

### {Mark Collantes}

- {Went to "Teas" nav item as expected.}
- {Clicked on the caffeinated category.}
- {Found Green Tea and went to product details page as expected.}
- {Clicked on the button to add to cart as expected but the link was broken and nothing happened.}

### {Chelsey Frohlick}

- {First thing she clicked on was the "buy now" button withint my promo on home page. This does not lead to product details but simply adds to cart. Need to figure out way around this.}
- {Once passed that hurdle, she clicked on teas as expected.}
- {She then clicked on caffeinated category as expected and selected green tea.}
- {Clicked on the button to add to cart as expected but the link was broken and nothing happened.}

### {Jordan Doe}

- {Went to "Teas" nav item as expected.}
- {Clicked on the caffeinated category.}
- {Found Green Tea and went to product details page as expected.}
- {Clicked on the button to add to cart as expected but the link was broken and nothing happened.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Product details buttons were not linked to cart. When you click them to add to cart nothing happens.}

### Serious, Causes Frustration, May Hinder Completion

- {One user automatically clicked the buy now button on my large promo. Maybe have the product details within the chain of events before checking out to add some ease of use.}

### Minor, Annoying, Won’t Hinder Completion

- {Images in promos could also link to product details to add another option to click on to access details.}