 <nav class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
    <ul class="lg">
        <li class="lg-item lg-item-inline"><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/" href="{{site.baseurl}}/index">Home</a></li>
        <li class="lg-item lg-item-inline"><a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about">About</a></li>
     <li class="lg-item lg-item-inline"><a class="{% if page.url contains 'teas' %}current{% endif %}" href="{{site.baseurl}}/teas">Teas</a></li>
    </ul>
</nav>