---
layout: default
category: category
showbanner: yes
bannertext: Caffeinated Teas
meta: "Organically grown fairtrade caffeinated teas"
title: Caffeinated Teas
type: caffeinated
---

<a href="{{site.baseurl}}/teas/{{page.teas}}">Back to Categories</a>

<div class="grid">
    <div class="unit unit-s-1 unit-m-1 unit-l-1">
        <p>Teas for that extra kick!</p>
    </div>
</div>

<ul>
    {% for tea in site.pages %}
        {% if tea.category == 'caffeinated' %}        
            <li>
                <a href="{{site.baseurl}}{{tea.url}}">list
                    {{tea.name}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>