---
layout: default
category: category
showbanner: yes
meta: "Organically grown fairtrade uncaffeinated teas"
title: Uncaffeinated Teas
type: uncaffeinated
---

<div class="grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <h1>Uncaffeinated Teas</h1>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <p>Teas for that extra kick!</p>
    </div>
</div>

<ul>
    {% for tea in site.pages %}
        {% if tea.category == 'uncaffeinated' %}        
            <li>
                <a href="{{site.baseurl}}{{tea.url}}">list
                    {{tea.name}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>