/*
    Colour Palette
    - Dark Mint: #487671 - rgb(72, 118, 113)
    - Mint: #46a69c - rgb(70, 166, 156)
    - Light Mint: #a3d9d3 - rgb(163, 217, 211)
    - Dark Grey: #303030 rgb(48, 48, 48) 
    - Light Greyblue - #f2feff - rgb(255, 250, 242)
    – White – #fff – rgb(255, 255, 255)
*/

header {
    text-transform: uppercase;
    background-color: #303030;
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    overflow:hidden;
    box-shadow: 2px 2px 1px rgba(48, 48, 48, 0.5);
}

.cart {
    float: left;
    height: 2rem;   
    width: 2rem;
    margin-left: 1rem;
}

nav ul li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin: 2rem;
}

nav ul li a {
    color: #fff;
}

.fixwidth {
    max-width:60px;
}

nav a {
    color: #fff;
}

nav a,
nav a:link,
nav a:visited{
    list-style: none;
    border: 0;
}

header img {
    width: 12rem;
}

.current {
    background-color: #46a69c;
}

.banner {
    background: #a3d9d3 url("../images/blacktea.jpg") no-repeat center center;
    background-size: cover;
    text-align: left;
    padding: 12rem 3rem 2rem;
    height: 45rem;
    box-shadow: 2px 2px 1px rgba(48, 48, 48, 0.5);
}

.banner-text {
    font-size: 5rem;
    line-height: 1;
    text-shadow: 2px 1px 2px rgba(48, 48, 48, 0.6);
}   

.banner h2 {
    color: #fff;
}