/*
    Colour Palette
    - Dark Mint: #487671 - rgb(72, 118, 113)
    - Mint: #46a69c - rgb(70, 166, 156)
    - Light Mint: #a3d9d3 - rgb(163, 217, 211)
    - Dark Grey: #303030 rgb(48, 48, 48) 
    - Light Greyblue - #f2feff - rgb(255, 250, 242)
    – White – #fff – rgb(255, 255, 255)
*/

@charset "UTF-8";
/* CSS Document */

html {
    font: normal 100%/1.5 'lato', sans-serif; /* 16px/23.2px */
    background-color: #fff;
    line-height: 1.45rem;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
    margin: 0 0 1.125rem;
    font-family: 'Open Sans', sans-serif;
}

.yotta {
    font-size: 2.62rem;
    line-height: 1.3154;
}

.zetta {
    font-size: 2.33rem;
    line-height: 1.4798;
}

h1, .exa {
    font-size: 2.074rem;
    line-height: 1.6648;
}

h2, .peta {
    font-size: 1.728rem;
    line-height: 1.8729;
}

h3, .tera {
    font-size: 1.44rem;
    line-height: 1.0535;
}

h4, .giga {
    font-size: 1.2rem;
    line-height: 1.1852;
}

h5, .mega {
    font-size: 1rem;
    line-height: 1.3333;
}

h6, .kilo {
    font-size: 0.833rem;
    line-height: 1.5000;
}

small, .milli {
    font-size: 0.694rem;
    line-height: 1.6875;
}

.micro, sub, sup {
    font-size: 0.579rem;
    line-height: 1.8984;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.margin-gutter {
    margin-left: 1.4rem;
}

.island {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

h1, h2 ,h3 ,h4, h5, h6,
.brand {
    color: #303030;
    font-family: 'Open Sans', sans-serif;
}

.brand-family {
 font-family: 'Open Sans', sans-serif;   
}

.brand-colour,
.brand-color {
    color: #594f4f;    
}

::selection {
    background-color: #46a69c;
    color: #487671;
}

a,
a:link {
    color: #fff;
    text-decoration: none;
    border-bottom: 0.1em solid rgba(70, 166, 156, 0.5);
    transition: all 200ms linear;
}

a:visited {
    color: #a3d9d3;
    border-bottom-color: rgba(163, 217, 211, 0.5);
}

a:hover,
a:focus,
a:active {
    color: #303030;
    border-bottom: 0.2em solid #a3d9d3;
}

a:hover,
a:active {
    /* it is ok to move the focus rectangle from the mouse-based actions*/
    outline: none;
}

a:focus {
   /* Focus MUST ALWAYS have a focus rectangle */
    outline: 3px solid #000;
}

p {
    font-family: 'Lato', sans-serif;
    color: #594f4f;
}

ul {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}

ul li {
    position: relative;
    color: #594f4f;
}

ul li:before {
    content: "•";
    color: #594f4f;
    position: absolute;
    left: -1.2em;
}

ol {
    font-family: 'Lato', sans-serif;
}

ol li {
    position: relative;
    color: #594f4f;
}

dl {
    font-family: 'Lato', sans-serif;
}

dl dt {
    position: relative;
    left: 1rem;
    color: #594f4f;
    font-weight: 600;
}

dl dd {
    color: #594f4f;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

blockquote {
    position: relative;
}

blockquote:before {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    content: "“";
    font-size: 6rem;
    color: #a3d9d3;
    margin-left: -0.5em;
    margin-top: 0.2em;
}

blockquote:after {
    font-family: "Open Sans", sans-serif;
    position: relative;
    content: "”";
    font-size: 6rem;
    color: #a3d9d3;
    float: right;
    margin-top: -0.2em;
    margin-right: -1em;
}

cite {
    position: relative;
    float: right;
    margin-bottom: 1.45rem;
}

mark {
    background-color: #a3d9d3;
}

table {
    border-collapse: collapse;
}

thead, thead th:first-child {
    border-bottom: solid 1px rgb(163, 217, 211);
}

tbody th, thead th:first-child {
    border-right: solid 1px rgb(163, 217, 211);
    padding-right: 0.5rem;
    
}

tr {
    color: #487671;
    text-align: left;
}

th {
    background-color: rgba(163, 217, 211, 0.3);
    color: #487671;
    text-align: left;
}

td {
    color: #594f4f;
    padding: 0.2rem 2rem 0.2rem;
}

.about {
    text-align: center;
    padding: 8rem 9rem 8rem 9rem;
    background-color: #46a69c;
}

.about p {
    color: #fff;
}

.thanks {
    text-align: center;
    padding: 16rem 0 16rem 0;
}

.gutter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.cart img {
    height: 60px;
}

.no-underline {
    border-bottom: none;
}